## STRING SESSION-2


# String

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

# Creating a String

In Python, either single quote (‘) or double quotes (“) must be used while creating a string.

For example:

In [1]:
#String

str = 'Hello Internsoft'
str

'Hello Internsoft'

In [2]:
"Hello Internsoft! I had an Amazing Sessions With You."

'Hello Internsoft! I had an Amazing Sessions With You.'

# PRINTING A STRING

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.

In [104]:
#Declaring a String

'HELLO INTERNSOFT'

'HELLO INTERNSOFT'

In [105]:
#printing a multiple string

print('hello internsoft 1')
'hello internsoft 2'

hello internsoft 1

'hello internsoft 2'

## STRING BASICS

In Strings, the length of the string can be found out by using a function called len().

In [5]:
#len()

len('HELLO INTERNSOFT')

16

## String Indexing

We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works. • We use brackets [] after an object to call its index. • We should also note that indexing starts at 0 for Python. Now, Let's create a new object called s and the walk through a few examples of indexing.

In [106]:
#assign n as a string

n = 'HELLO INTERNSOFT'
n

'HELLO INTERNSOFT'

In [107]:
#printing the string

print(n)

HELLO INTERNSOFT

In [108]:
#indexing

#show first element in n
n[10]

'R'

In [109]:
n[6:]

'INTERNSOFT'

In [110]:
n[:5]

'HELLO'

In [111]:
n[:]

'HELLO INTERNSOFT'

n[-5]

In [113]:
n[:-5]

'HELLO INTER'

In [114]:
n[::2]

'HLOITRSF'

In [115]:
n[::-5]

'TR H'

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [122]:
print(n)

HELLO INTERNSOFT

In [123]:
n

'HELLO INTERNSOFT'

In [124]:
#concatnate string

n +  ' WHATS UP?'

'HELLO INTERNSOFT WHATS UP?'

In [125]:
N = n + ' WHATS UP?'

In [126]:
print(N)

HELLO INTERNSOFT WHATS UP?

In [127]:
#use of multipliction symbole for repitation

letter = 'n'

In [128]:
letter*8

'nnnnnnnn'

## Basic Built In String Methods

In [129]:
N

'HELLO INTERNSOFT WHATS UP?'

In [130]:
#upper case
N.upper()

'HELLO INTERNSOFT WHATS UP?'

In [131]:
N.lower()

'hello internsoft whats up?'

In [132]:
N.split()

['HELLO', 'INTERNSOFT', 'WHATS', 'UP?']

In [133]:
N.split('L')

['HE', '', 'O INTERNSOFT WHATS UP?']

## Print Formating

In [134]:
#'Insert another string with curly brackets:{}'
({"Sessions are Intresting"})

{'Sessions are Intresting'}

In [135]:
print(N)
n.count('N')

HELLO INTERNSOFT WHATS UP?

2

In [136]:
print(N)
N.count('S')

HELLO INTERNSOFT WHATS UP?

2

In [137]:
n.center(20,'a')

'aaHELLO INTERNSOFTaa'

In [138]:
'Nishat\tAnjum'.expandtabs()

'Nishat  Anjum'

## Is Check Mehods

In [139]:
a = 'Airobosoft'

In [140]:
#isalnum

a.isalnum()

True

In [141]:
#isalpha

a.isalpha()

True

In [142]:
#islower

a.islower()

False

In [143]:
#isspace

a.isspace()

False

In [144]:
#istitle

a.istitle()

True

In [145]:
#isupper

a.isupper()

False

In [146]:
#enwith

a.endswith('n')

False

In [147]:
a.endswith('t')

True

## Built in Reg. Expressions

In [148]:
#split

a.split('i')

['A', 'robosoft']

In [149]:
#partition

a.partition('i')

('A', 'i', 'robosoft')

In [150]:
a

'Airobosoft'

# Lists

In [151]:
#assign a list variable

my_list = ['Papa','Ammi','Arshad','Ryan','Heena',5]

In [152]:
my_list

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena', 5]

In [153]:
len(my_list)

6

# Indexng & Slicing

In [154]:
my_list = ['Papa','Ammi','Arshad','Ryan','Heena',5]

In [155]:
#grab Element at index 2

my_list[2]

'Arshad'

In [156]:
my_list[3:]

['Ryan', 'Heena', 5]

In [157]:
my_list[:-3]

['Papa', 'Ammi', 'Arshad']

In [158]:
my_list[:]

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena', 5]

In [159]:
my_list[:-1]

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena']

In [160]:
#adding an element

my_list + ['minna']

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena', 5, 'minna']

In [161]:
#adding is not permanent

my_list

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena', 5]

In [162]:
#adding permanent

my_list = my_list + ['minna']

In [163]:
#pemanently added element

my_list

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena', 5, 'minna']

In [164]:
#doubling of list

my_list*2

['Papa',
 'Ammi',
 'Arshad',
 'Ryan',
 'Heena',
 5,
 'minna',
 'Papa',
 'Ammi',
 'Arshad',
 'Ryan',
 'Heena',
 5,
 'minna']

In [165]:
#doubling is not permanant

my_list

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena', 5, 'minna']

# Basic List Method

In [166]:
F = ['Papa', 'Ammi', 'Arshad']

In [167]:
F.append('Ryan')

In [168]:
F

['Papa', 'Ammi', 'Arshad', 'Ryan']

In [169]:
F.append('Heena')

In [170]:
F

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena']

In [171]:
#pop 

F.pop(4)

'Heena'

In [172]:
F

['Papa', 'Ammi', 'Arshad', 'Ryan']

In [173]:
# Assign the popped element, remember default popped index is -1
popped_item = F.pop()

In [174]:
popped_item

'Ryan'

In [175]:
#remaining items in a list

F

['Papa', 'Ammi', 'Arshad']

In [176]:
#Reverse or Sort a list

F = ['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena']

In [177]:
F.reverse()

In [178]:
F

['Heena', 'Ryan', 'Arshad', 'Ammi', 'Papa']

In [179]:
F.sort()

In [180]:
F

['Ammi', 'Arshad', 'Heena', 'Papa', 'Ryan']

# Nesting List

In [181]:

# Let's make three lists

lst_1=[11,12,13]
lst_2=[14,15,16]
lst_3=[17,18,19]

# Make a list of lists to form a matrix

matrix = [lst_1,lst_2,lst_3]

In [182]:
# Show
matrix

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

In [183]:
# Grab first item in matrix object
matrix[0]

[11, 12, 13]

In [184]:
# Grab first item of the first item in the matrix object
matrix[1][1]

15

# List Comprehensions

In [185]:
# Build a list comprehension by deconstructing a for loop within a []

first_col = [row[2] for row in matrix]

In [186]:
first_col

[13, 16, 19]

# Advanced Lists

In [187]:
#advanced list

F = ['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena']

## Append

In [188]:
#append(adding)

F.append('Minna')

In [189]:
F

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena', 'Minna']

## Count

In [190]:
#counting the exact element

F.count('Papa')

1

## Extend

In [191]:
f = ['Papa', 'Ammi', 'Arshad']
f.append(['Ryan','Heena'])
print(f)

['Papa', 'Ammi', 'Arshad', ['Ryan', 'Heena']]

In [192]:
f = ['Papa', 'Ammi', 'Arshad']
f.extend(['Ryan','Heena'])
print(f)

['Papa', 'Ammi', 'Arshad', 'Ryan', 'Heena']

# Insert

In [193]:
x = [22,44,66]

In [194]:
x

[22, 44, 66]

In [195]:
x.insert(88,'multiples')

In [196]:
x

[22, 44, 66, 'multiples']

# Pop

In [197]:
ele = x.pop()

In [198]:
x

[22, 44, 66]

In [199]:
ele

'multiples'

## Remove

In [200]:
a = [1,2,3,4,5,6,7,8,9]

In [201]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [202]:
a.remove(3)

In [203]:
a

[1, 2, 4, 5, 6, 7, 8, 9]

# Reverse

In [204]:
a

[1, 2, 4, 5, 6, 7, 8, 9]

In [205]:
a.reverse()

In [206]:
a

[9, 8, 7, 6, 5, 4, 2, 1]

# Sort

In [207]:
a

[9, 8, 7, 6, 5, 4, 2, 1]

In [208]:
a.sort()

In [209]:
a

[1, 2, 4, 5, 6, 7, 8, 9]